.aboutcontent{
    display: flex;
    flex-direction: row;
    padding:20px;
}
.abouttxt{
    min-width:0;
    vertical-align: center;
    width:70vw;
    padding:1vw;
    font-family: Arial;
    font-size: x-large;
}
.aboutimg{
    /*flex-grow: 1;*/
    width:22vw;
    font-family: Arial;
    font-size: medium;
}