.aboutcontent {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.abouttxt {
    min-width: 0;
    vertical-align: center;
    width: 64vw;
    height: 30vh;
    padding-left: 1.5vw;
    padding-top: 12vh;
    padding-bottom: 10vh;
    font-family: Arial;
    font-size: x-large;
}

.aboutimg {
    /*flex-grow: 1;*/
    width: 28vw;
    font-family: Arial;
    font-size: medium;
}