#introContent {
    background-color: mediumpurple;
    text-align: center;
    font-family: "American Typewriter";
    padding: 10px;
}

.homeProfile {
    margin: auto;
    display: block;
    width: 20%;
    padding: 15px;
    border-radius: 100px;
}

.more {
    margin: 1vh;
    border: none;
    background: none;
    font-size: medium;
    text-decoration: underline;
}

.more:hover {
    color: navy;
}

.hprojectbutton {
    width: 30vw;
    height: 20vh;
    background-color: lightsalmon;
    padding: 1vw;
    text-color: white;
    font-size: xx-large;
    margin: 1vw;
}


/* About ------------------------------------------------------------------------------------------------------------*/
#about {
    display: flex;
    flex-direction: row;
    background-color: rebeccapurple;
}


#mamtitle {
    /*text properties*/
    text-align: center;
    font-size: xx-large;
    /*right-side border */
    border-width: 2px;
    border-right: solid black;
    /*padding title*/
    padding: 2vw;
    vertical-align: center;
}

#mambody {
    font-size: large;
    text-align: center;
    padding-top: 1vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

/* Research ---------------------------------------------------------------------------------------------------------*/

#research {
    display: flex;
    flex-direction: row;
    background-color: violet;
}

#rtitle {
    flex-grow: 1;
    font-size: xx-large;
    text-align: center;
    vertical-align: center;
    border-width: 2px;
    border-left: solid black;
    padding: 2vw;
}

#rbody {
    flex-grow: 5;
    font-size: large;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1vw;
}

.aresearchlinks {
    background: none;
    border: none;
    font-family: inherit;
    color: blue;
    text-decoration: underline;
}

.aresearchlinks:hover {
    color: darkblue;
}

.iresearchlinks {
    background: none;
    border: none;
    font-family: inherit;
    color: black;
}

/* Writing ----------------------------------------------------------------------------------------------------------*/

#writing {
    display: flex;
    flex-direction: row;
    background-color: lightpink;
}


#wtitle {
    flex-grow: 1;
    font-size: xx-large;
    text-align: center;
    border-width: 2px;
    border-right: solid black;
    padding: 2vw;
    vertical-align: center;
}

#wbody {
    flex-grow: 5;
    font-size: large;
    text-align: center;
    padding-top: 1vw;
    padding-left: 20vw;
    padding-right: 20vw;
}
