.projectarray{
    display:flex;
    flex-direction: column;
    padding: 1vw;
}

.projectbutton{
    width: 30vw;
    background-color:lightsalmon;
    padding: 1vw;
    text-color: white;
    font-size: xxx-large;
    margin:1vw;
}
.image{
    width:30%;
}
#cs{
    order: 1;
}

#math{
    order: 2;
}
